[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/LinkedList"]
	path = lib/LinkedList
	url = https://github.com/ivanseidel/LinkedList.git
