[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/LinkedList"]
	path = lib/LinkedList
	url = https://github.com/ivanseidel/LinkedList.git
[submodule "lib/pubsubclient"]
	path = lib/pubsubclient
	url = https://github.com/ejngnng/pubsubclient.git
[submodule "lib/WiFiManager"]
	path = lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "lib/NodeDB"]
	path = lib/NodeDB
	url = https://github.com/ejngnng/NodeDB.git
[submodule "lib/NTPClient"]
	path = lib/NTPClient
	url = https://github.com/arduino-libraries/NTPClient.git
